#photos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  position: relative;
  bottom: 150px;
  grid-gap: 20px; }
  @media (min-width: 1200px) {
    #photos {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 100px;
      bottom: 50px; } }
  #photos img {
    width: 400px; }
    @media only screen and (min-width: 800px) {
      #photos img {
        width: 600px; } }
